body {
	/* 	background-image: url("../images/c2.png"); */
	background: white;
}

.left {
	width: 520px;
	height: 330px;
	float: left;
	margin: 70px 0px 0px 170px;
}

.main1 {
	width: 400px;
	height: 350px;
	float: right;
	border: 9px solid #8bb4d2;
	border-radius: 5px 5px;
	background-color: white;
	margin: 70px 170px 0px 0px;
}

.top {
	font-size: 18px;
	text-align: center;
	padding-top: 15px;
	height: 45px;
}

.bottom {
	margin-left: 10px;
	margin-top: 15px;
}

form input {
	height: 35px;
	width: 250px;
	margin-top: 18px;
	margin-left: 8px;
}

.zc {
	height: 25px;
	width: 220px;
	margin-top: 15px;
	margin-left: 8px;
}