.orderpart{
	height: 500px;width: 1130px;margin-top: 10px;
}
.left{
	width: 800px;height: 480;border: 1px solid #ccc;float: left;
}
.left-top{
	width: 800px;height: 310px;
}
.left-top .left-img{
	width: 275px;height: 200px;float: left;
}
.left-top .left-msg{
	width: 515px;height: 300px;float: right;
}
.left-msg-title{
	height: 40px;font-size: 20px;padding-top: 5px;padding-bottom: 5px;
}
.left-msg-content{
	width:515px;;height:260px;line-height: 30px;
}
.left-bottom{
	width: 800px;height: 170px;
}
.left-bottom .title{
	height: 43px;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc; 
	background: #efefef;line-height: 42px;font-size: 16px;
    font-weight: bolder;
    text-indent: 1em;
}
.left-bottom .pay-ul{
	margin-left: 20px;margin-top: 20px;line-height: 36px;font-size: 15px;
}
.right{
	width: 310px;
	height: 480px;
	border: 1px solid #ccc;
	float: right;
}
.right-title{
	background: #efefef;height: 44px;color: #eb5b00;padding-left: 15px;font-size: 16px;font-weight: bold;padding-top: 8px;
}
.rigth ul{
	
}
.right ul li{
	 border-bottom: 1px solid #ccc;
}
.right ul li span{
	 float: right;
}
.right input{
	width: 160px;height: 39px;background-color: #eb5b00;color: white;border: none;margin-top: 20px;float: none;
	margin-left: 40px;
}


















