.searcharea{
	width: 1150px;
	height: 100px;
	background-color: red;
/* 	border: 1px solid red; */
	margin-top:10px; 
	margin-bottom: 10px;
}
.selectstore{
	width:700px;
	height:100px;
	float: left;
/* 	border: 1px solid red; */
}
.carstore{
	float:none;
	width:700px;
	height:45px;
	
}
.dist{
	padding-left:15px;
	padding-top:5px;
/* 	border: 1px solid red; */
	width:600px;
	height:45px;
	float: left;
}
.form-group{
	padding-top: 2px; width: 125px;float:left;padding-left: 3px;
}
.qutime{
	padding-left:15px;
	padding-top:10px;
/* 	border: 1px solid red; */
	width:300px;
	height:45px;
	float: left;
}
.forsearch{
	width:300px;
	height:90px;
	float: left;
/* 	border: 1px solid red; */
	padding-top:20px;
	text-align: center;
}
.forsearch button{
	width: 120px;
	height: 40px;
	background-color: #29b7b7;
	color: white;
	font-size: 14px;
}
.laydate-prev-y, .laydate-prev-m {
	font-size: 14px;
}
.layui-laydate-header th, .layui-laydate-content tr {
	font-size: 14px;
}

