.dingdan{
	width: 1140px;
	height: 800px;
	border:1px solid #ccc;
	margin-top: 10px;
	margin-bottom: 10px;
}
.dingdan-title{
	padding-left:10px;
	padding-top:10px;
	height: 53px;
	border: 1px solid #ccc;
	font-size: 16px;
	font-weight: bold;
	background-color: #ccc;
}
.dingdan-title span{
	margin-left: 10px;
}
.jiben{
	width: 500px;
	height: 330px;
	
	margin: 0 auto;
	padding-top:10px;
}
.jiben table{
	
	width: 400px;
	height: 320px;
	border: 1px solid #ccc;
	margin: 0 auto;
}
.jiben table tr{
	border-bottom: 1px dashed #ccc;
}
.lefttd{
	text-align: right;
}
.righttd{
	padding-left: 20px;
}
.modifypwd{
	width: 600px;
	height: 330px;
	margin: 0 auto;
	padding-top:10px;
	
}
.modifypwd table{
	
	width: 500px;
	height: 280px;
	border: 1px solid #ccc;
	margin: 0 auto;

}
.modifypwd table input{
	
	width: 272px;
	height:38px;
	border: 1px solid #ccc;
	margin: 0 auto;
}